<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Allow this application to use Bluetooth to connect to your Lego® Mindstorms® programmable brick</string>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array>
        <string>com.lego.les</string>
    </array>
</dict>
</plist>
