<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Printy Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.lukevanin.printy.document</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Printy Document</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.lukevanin.printy.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>printydoc</string>
				</array>
			</dict>
		</dict>
	</array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Allow this application to use Bluetooth to connect to your Lego® Mindstorms® programmable brick</string>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array>
        <string>com.lego.les</string>
    </array>
</dict>
</plist>
